<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<h1>Список пользователей</h1>
<table border="1">
<thead>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>Банк</th>
        <th>Профиль</th>

    </tr>
</thead>
    <tbody>
    <tr th:each="user : ${allUsers}">
        <td th:text="${user.getName()}">Name</td>
        <td th:text="${user.getLastName()}">Last Name</td>
        <td th:text="${user.getAge()}">Age</td>
        <td th:text="${user.getBank()}">Bank</td>
        <td>
            <a th:href="@{/{id}(id=${user.getId()})}">Показать</a>
        </td>
        <td>
            <a th:href="@{/{id}/edit(id=${user.getId()})}">Изменить</a>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
                <input type="submit" value="Удалить"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/new}">Создать пользователя</a>
<br>
</body>
</html>